<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.0">
      <buildProviders>
        <add extension=".asp" type="System.Web.Compilation.PageBuildProvider" />
      </buildProviders>
    </compilation>
    <httpHandlers>
      <add path="*.asp" verb="*" type="System.Web.UI.PageHandlerFactory" validate="true" />
    </httpHandlers>
  </system.web>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"></modules>
    <validation validateIntegratedModeConfiguration="false"/>
  </system.webServer>
  <connectionStrings>
    <!--
    <add name="HorseExpoConnectionString" connectionString="Data Source=CHTNT2;Initial Catalog=Horsetrader;User ID=sa;Password=chtsql" />
    -->
    <add name="HorseExpoConnectionString" connectionString="Data Source=192.168.4.10;Initial Catalog=AdvantageProd;User ID=sa;Password=chtsql" />
  </connectionStrings>
  <appSettings>
    <add key="HorseExpoHomepage" value="http://www.horseexpoevents.com"/>
    <add key="HorseExpoWebsiteURL" value="http://localhost:52005"/>
    <add key="HorseExpoPubNumber" value="201"/>
    <add key="ExpoEventID" value="2"/>
    <add key="EmailOptInTypeID" value="2"/>
    <add key="HorseExpoFacebookURL" value="https://www.facebook.com/horsexpo"/>
    <add key="HorseExpoTwitterURL" value="https://twitter.com/horseexpo"/>
    <add key="SMTPHost" value="98.158.164.151"/>
    <add key="SMTPPort" value="25"/>
    <add key="IsInDevelopmentEnvironment" value="true"/>
    <add key="ImagesURL" value="http://www.horsetrader.com/media"/>
  </appSettings>
</configuration>
